/* configuration */
* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1438px;
    margin: 0 auto;
    font-family: 'Open Sans';
}

/* header content */

.header {
    height: 769px;
    background: url(../img/background/Header_background.png) center no-repeat;
    color: rgba(255, 255, 255, 1);
}

.container-header {
    width: 66.6%;
    height: 769px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__konstruct {
    margin-top: 35px;
    font-family: 'Bebas Neue';
    font-size: 25px;
}

.triangl {
    display: inline-block;
    border-style: solid;
    border-width: 9.455px 8.36px 9.455px 0px;
    border-color: transparent rgba(0, 164, 229, 1) transparent transparent;
}

h1 {
    margin-top: 300px;
    font-family: 'Bebas Neue';
    font-size: 58px;
    letter-spacing: 5px;
}

.header__description {
    margin-bottom: 221px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.Header__Scroll-down {
    margin-bottom: 71px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 3.7px;
}

/* navigation content */

.container-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.header__konstruct--mod {
    margin-bottom: 20px;
    margin-top: 17px;
    margin-left: 25px;
    font-family: 'Bebas Neue';
    font-size: 18px;
}

.header__triangl--mod {
    display: inline-block;
    border-style: solid;
    border-width: 7.455px 8.36px 7.455px 0px;
    border-color: transparent rgba(0, 164, 229, 1) transparent transparent;
}

.navigation-buttons {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navigation-button {
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.09091px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(72, 85, 91, 1);
}

.navigation-button:hover {
    color: rgba(0, 164, 229, 1);
}

.line {
    border-bottom: 1px solid rgba(230, 230, 230, 1);
    width: 100%;
}

/* main content */

.container-main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 66.6%;
    margin: 0 auto;
}

.main-header {
    margin-top: 57px;
}

.story {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.30625px;
    text-transform: uppercase;
    color: rgba(72, 85, 91, 1);
}

.line-story {
    margin-top: 5px;
    margin-bottom: 60px;
    border-bottom: 3px solid rgba(0, 164, 229, 1);
    width: 100%;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.main-description {
    margin-right: 79px;
}

.foundation {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1875px;
    color: rgba(72, 85, 91, 1);
}

.foundation-konstruct {
    color: rgba(0, 164, 229, 1);
}

.main-information {
    margin-top: 15px;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1875px;
    color: rgba(72, 85, 91, 1);
}

.products-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.product {
    margin-left: 9px;
    margin-right: 9px;
    height: 190px;
    width: 140px;
    text-align: left;
}

.main-link {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 28px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.plan {
    background: url(../img/background/We_plan.png) center no-repeat;
}

.manage {
    background: url(../img/background/We_manage.png) center no-repeat;
}

.build {
    background: url(../img/background/We_build.png) center no-repeat;
}

/* services content */

.container-services {
    display: flex;
    flex-direction: column;
    width: 66.6%;
    margin: 0 auto;
}

.information-services {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    margin-bottom: 40px;
}

.heading-services {
    margin-right: 155px;
}

.header-services {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.3px;
    text-transform: uppercase;      
}

.line-services {
    width: 50px;
    border: 2px solid;
    background: rgba(0, 164, 229, 1);
    color: rgba(0, 164, 229, 1);
}

.description-services {
    margin-right: 50px;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.2px;
}

.button-services {
    padding: 11px 29px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 1);
    background: rgba(72, 85, 91, 1);
    border: 1px solid;   
}

.button-services:hover {
    background: rgba(0, 164, 229, 1);
}

.offer {
    display: flex;
    flex-direction: row;
    margin-top: 38px;
    margin-bottom: 235px;
}

.offer-container {
    margin-left: 13px;
    margin-right: 14px;
    border: 1px solid rgba(230, 230, 230, 1);
}

.offer-header {
    margin: 138px 10px 13px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: rgba(72, 85, 91, 1);
}

.text-offer {
    margin: 0px 20px 39px 10px;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.2px;
    color: rgba(72, 85, 91, 1);
}

.left {
    background: url(../img/icons/Project_icon.png) no-repeat;
    background-position-x: 23px;
    background-position-y: 38px;
}

.right {
    background: url(../img/icons/Factory_icon.png) no-repeat;
    background-position-x: 23px;
    background-position-y: 38px;
}

.center {
    background: url(../img/icons/Structure_icon.png) no-repeat;
    background-position-x: 23px;
    background-position-y: 38px;
}

/* feedback content */

.feedback {
    background: url(../img/background/feaadback_background.png) center no-repeat;
}

.container-feedback {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 66.6%;
    margin: 0 auto;
}

.header-feedback {
    margin-top: 120px;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.15px;
    color: rgba(72, 85, 91, 1);
}

.button-feedback {
    padding: 11px 26px;
    margin-bottom: 232px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: rgba(255, 255, 255, 1);
    background: rgba(72, 85, 91, 1);
    border: 1px solid;   
}

.button-feedback:hover {
    background: rgba(0, 164, 229, 1);
}

/* contact content */

.contact {
    background: rgba(23, 24, 25, 1);
}

.container-contact {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 66.6%;
    margin: 0 auto;
}

.header-contact {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.85px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
}

.form-contact {
    margin: 30px 0px;
    display: flex;
    align-items: center;
}

.input-contact {
    padding: 11px 98px 11px 16px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(72, 85, 91, 1);
}

.button-contact {
    padding: 14px 49.5px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background: rgba(72, 85, 91, 1);
}

.button-contact:hover {
    background: rgba(0, 164, 229, 1);
}

/* footer contenr */

.footer {
    color: rgba(255, 255, 255, 1);
    background: rgba(20, 26, 32, 1);
    font-size: 11px;
}

.container-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 66.6%;
    margin: 0 auto;
    padding-top: 42px;
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
}

.brend-footer {
    display: flex;
    flex-direction: column;
    flex: 2;
    font-weight: 400;
    list-style-type: none;
}

.brend-header {
    margin-bottom: 22px;
    text-transform: uppercase;
    letter-spacing: 0.85px;
}

.footer-konstruct {
    margin-bottom: 16.4px;
    font-family: 'Bebas Neue';
    font-size: 25px;
    text-transform: uppercase;
}

.brend-text {
    margin-bottom: 49px;
    font-weight: 400;
    letter-spacing: 0.85px;
}

.links-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    list-style-type: none;
    flex: 2;
}

.list-footer {
    margin-bottom: 8px;
    list-style-type: none;
}

.link-footer {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.85px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.link-footer:hover {
    color: rgba(0, 164, 229, 1);
}

.contact-footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.contact-li-footer {
    margin-top: 8px;
    margin-bottom: 8px;
}

.icons-footer{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    list-style-type: none;
}

.social-icons {
    height: 12px;
    width: 12px;
    padding-top: 30px;
    margin-left: 12px;
    margin-right: 12px;
}

/* signature content */

.signature {
    background: rgba(23, 24, 25, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.signature-text {
    margin-top: 22px;
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.85px;
    color: rgba(255, 255, 255, 1);
}